name: mubadarah-prod
services:
  api:
    user: '1000:1000'
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    depends_on:
      - mongodb
    networks:
      - app-network
    volumes:
      - ./uploads:/app/uploads
    restart: unless-stopped
    command: npm run start:prod

  mongodb:
    user: '1000:1000'
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - ./mongodb_data:/data/db
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
